{% set reminderLog = entity.instance %}
{% if reminderLog.user %}
    {% set url = path('admin_reminder_log_user_detail', {'_locale': app.request.locale|default('fr'), 'id': reminderLog.user.id}) %}
    <a href="{{ url }}">{{ reminderLog.userDisplayName ?: reminderLog.user }}</a>
{% else %}
    <span>{{ reminderLog.userDisplayName ?: '-' }}</span>
{% endif %}
