{% set url = path('admin', {'_locale': app.request.locale|default('fr')}) ~ '?crudAction=index&crudControllerFqcn=' ~ 'App\\\\Controller\\\\Admin\\\\ReminderLogCrudController'|url_encode ~ '&userId=' ~ entity.primaryKeyValue %}
<a href="{{ url }}">Voir l'historique des relances</a>
