{% set reminderLog = entity.instance %}
{% if reminderLog.user %}
    {% set url = path('admin', {'_locale': app.request.locale|default('fr')}) ~ '?crudAction=detail&crudControllerFqcn=' ~ 'App\\\\Controller\\\\Admin\\\\UserCrudController'|url_encode ~ '&entityId=' ~ reminderLog.user.id %}
    <a href="{{ url }}">{{ reminderLog.userDisplayName ?: reminderLog.user }}</a>
{% else %}
    <span>{{ reminderLog.userDisplayName ?: '-' }}</span>
{% endif %}
