{% set userId = entity.instance.id ?? entity.primaryKeyValue ?? field.value ?? null %}
{% if userId %}
    {% set url = path('admin', {'_locale': app.request.locale|default('fr')}) ~ '?crudAction=index&crudControllerFqcn=' ~ 'App\\\\Controller\\\\Admin\\\\ReminderLogCrudController'|url_encode ~ '&userId=' ~ userId %}
    <a href="{{ url }}">Voir l'historique des relances</a>
{% else %}
    <span>-</span>
{% endif %}
