{% set roles = field.value %}
{% if roles is not iterable %}
    {% set roles = roles ? [roles] : [] %}
{% endif %}

{% set businessRoles = [] %}
{% for role in roles %}
    {% if role != 'ROLE_USER' %}
        {% set businessRoles = businessRoles|merge([role]) %}
    {% endif %}
{% endfor %}

{% if businessRoles is not empty %}
    {% for role in businessRoles %}
        <span class="badge badge-info mr-1">{{ role|replace({'ROLE_': ''}) }}</span>
    {% endfor %}
{% else %}
    <span class="badge badge-light">USER</span>
{% endif %}
