{% set isVerified = field.value %}
<span class="badge {{ isVerified ? 'badge-success' : 'badge-warning' }} ea-user-status-badge" style="min-width: 104px;">
    {{ isVerified ? 'Verifie' : 'Non verifie' }}
</span>